{% extends 'base.html' %}
{% block content %}
    {#    <h1 class="put3">Hello,{{ user.account }}!</h1>#}
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <p>新建收藏夹:</p>
        <p>收藏夹名称：{{ form.title(size = 30, maxlength = 140) }}</p>
        <p>收藏夹描述：{{ form.description(size=30, maxlength=140) }}</p>
        {% for error in form.errors.post %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        <p class="put1"><input type="submit" value="Add!"></p>
    </form>
    <h2>我的收藏夹</h2>
    {% for collection in collections %}
        <li class="group-item title">
            <div class="post">
                <h3>
                    <a href="{{ url_for('favorite',collection=collection) }}"><strong>{{ collection.title }}</strong></a>
                </h3>
                {% if collection.description %}
                    <p class="put2">{{ collection.description }}</p>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endblock %}