{% extends 'base.html' %}
{% block content %}
    <h1 class="put3">Hello,{{ user.account }}!</h1>
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <table class="put2">
            <tr>
                <td>Say something:</td>
                <td>{{ form.title(size = 30, maxlength = 140) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.description(size=30, maxlength=140) }}</td>
                <td></td>
                <td>
                    {% for error in form.errors.post %}
                        <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="put1"><input type="submit" value="Add!"></td>
                <td></td>
            </tr>
        </table>
    </form>
    {% for collection in collections %}
        <table class="put2">
            <tr valign="top">
                <td class="put2"><img src="{{ collection.owner.avatar(50) }}"></td>
                <p class="put2">
                    <a href="{{ url_for('user', account = collection.owner.account) }}">{{ collection.owner.account }}</a>
                <p class="put2"> {{ momentjs(collection.timestamp).fromNow() }}:</p>
                <a class="put2"
                   href="{{ url_for('favorite',collection=collection) }}"><strong>{{ collection.title }}</strong></a>
                {% if collection.description %}
                    <p class="put2"><strong>{{ collection.description }}</strong></p>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% endblock %}