{% extends "base.html" %}

{% block content %}
    <h1 class="put">编辑个人信息</h1>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        {#        <table class="put">#}
        {#            <tr>#}
        <p>关于你自己:</p>
        <p>{{ form.about_me(cols = 32, rows = 4) }}</p>
        <p>你的职业:</p>
        <p>{{ form.job(cols = 32, rows = 4) }}</p>
        <p>你的位置:</p>
        <p>{{ form.location(cols = 32, rows = 4) }}</p>
        {#            </tr>#}
        {#            <tr>#}
        {#                <td></td>#}
        <p><input type="submit" value="Save Changes"></p>
        {#            </tr>#}
        {#        </table>#}
    </form>
{% endblock %}