{% extends "base.html" %}
{% block content %}
    {#    <div class="index_img"></div>#}
    <div style="text-align: center;" style=" margin-top: -1273px;">

        <h2 class="put2"><a href="{{ url_for('collection') }}">我的收藏</a></h2>


        {% for post in posts.items %}
            {% include 'post.html' %}
        {% endfor %}

        {% if posts.has_prev %}
            <a class="put2" href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a> {% else %}
            上一页   {% endif %}

        |
        {% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}
            下一页{% endif %}
    </div>
{% endblock %}