{% extends "base.html" %}
{% block content %}

    {#    <div class="index_img"></div>#}
    <div style="text-align: center;" style=" margin-top: -1273px;">

        <h2 class="put2">我的主页</h2>


        {% for post in posts.items %}
            {% include 'post.html' %}
            <br>
            <br>
        {% endfor %}
        <br>
        <br>

        {% if posts.has_prev %}
            <a class="put2" href="{{ url_for('index', page = posts.prev_num) }}">上一页</a> {% else %}
            上一页   {% endif %}

        |
        {% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">下一页</a>{% else %}
            下一页{% endif %}
    </div>
{% endblock %}