{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">

</script>
    <h1 class="put3">Sign In</h1>
    <form action="" method="post" name="login">
    {{form.hidden_tag()}}
        <p class="put">
            Please enter your Account and Password:<br>
            <br>
        Account: {{ form.account(size=60) }}<br>
            <br>
        Password: {{ form.password(size=60) }}<br>
        {% for error in form.account.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
        <p class="put">{{ form.remember_me }} Remember Me</p>
        <td></td>
        <p class="put1"><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
