{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <p style="text-align: center;">您的标题{{ form.title }}</p>
        <br>
        <br>
        {{ form.body(cols='20', rows='2', class='ckeditor') }}
        <!-- 替换脚本 -->
        <script type="text/javascript">
            CKEDITOR.replace(
                    "body", {
                        filebrowserUploadUrl: '/ckupload/'
                    }
            );
        </script>
        {#    <!---->#}
        {{ form.submit }}
    </form>
{% endblock %}