{% extends "base.html" %}
{% block content %}
    <p><a href="{{ url_for('user', account = post.author.account) }}">{{ post.author.account }}</a>
        . {{ momentjs(post.timestamp).fromNow() }}:</p>

    <h2>{{ post.title }}</h2>
    <p>{{ post.body|safe }}</p>
    <hr>
    <p id='star' class="oneline">添加收藏夹</p>
    <i id='func' class="fa fa-star oneline"></i>
    <script>
        $('#func').on('click', function () {
            layer.open({
                type: 2,
                title: '我的收藏',
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                shift: 1,
                content: '{{ url_for('star', post=post.id, user=post.author.id) }}'
                ,
                btn: ['关闭']
                , btn1: function (index, layero) {
                    var index = layer.open();
                    layer.close(index);
                }
                ,
                closeBtn: 2
            });

        });
    </script>
    {#    <img src="{{ post.author.avatar(50) }}"/>#}
    {#    </div>#}
{% endblock %}