{% extends "base.html" %}
{% block content %}
    <div style="text-align: center;">
        <table>
            <tr valign="top" style="     float: left;margin-left: 713px;width: 413px;border: 1px solid #9d9d9d">

                <td style="margin-left: 26px; float: left;margin-right: 143px;"><p><a
                        href="{{ url_for('user', account = post.author.account) }}">{{ post.author.account }}</a>
                    . {{ momentjs(post.timestamp).fromNow() }}:</p>
                    <p><strong>{{ post.title }}</strong></p>
                    <p><strong>{{ post.body|safe }}</strong></p>
                    <p><a href="{{ url_for('star', post=post.id, user=post.author.id) }}">添加收藏夹</a></p>
                </td>
                <td><img src="{{ post.author.avatar(50) }}"></td>
            </tr>
        </table>

    </div>
{% endblock %}