<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form action="" method="post" name="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.star }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input id="s" type="submit" value="Add!"/></td>
            <td></td>
        </tr>
    </table>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <script>layer.msg('{{ message }}')</script>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>