<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% if flag %}
    <script>
        window.opener = "";
        window.open('', '_self');
        window.close();
    </script>
{% endif %}
<form action="" method="post" name="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.star }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add!"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>